.simplecounter {
  text-align: center;
  margin: 100px 0;
}

.simplecounter div {
  display: inline-block;
  font-size: 100px;
  background-color: black;
  color: white;
  width: 80px;
}

.bi {
  width: 70px;
  height: 70px;
}
